.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 12;
  h1,
  h2,
  a {
    font-size: 40px;
    margin: 5px 0;
    transform: translateY(-40px);
    color: #334680;
  }
  h2 {
    font-size: 30px;
    color: #ec4141;
  }
  a {
    font-size: 20px;
    color: #ffffff;
    background-color: #1e86ff;
    border-radius: 4px;
    padding: 7px;
    text-decoration: none;
  }
}
