@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.detail {
  display: flex;
  justify-content: center;
  flex: 12;
  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    max-width: 320px;
    a.back {
      display: block;
      font-size: 14px;
      color: #1e86ff;
      font-weight: 500;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      margin-bottom: 35px;
      transition: all 0.4s;
      &:hover {
        color: #1558a5;
      }
    }
    h2 {
      color: #b9bdcf;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .howToApply {
      color: #334680;
      a {
        display: block;
        margin: 5px 0;
        color: #1e86ff;
        font-family: 500;
        font-size: 18px;
        text-decoration: none;
        list-style-type: circle;
        transition: all 0.4s;
        &:hover {
          color: #1558a5;
        }
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 3;
    h2 {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: #334680;
      b {
        font-size: 12px;
        padding: 2px;
        border: 1px solid #334680;
        border-radius: 4px;
        margin-left: 10px;
      }
    }
    p.date {
      font-size: 15px;
      color: #b7bcce;
      margin: 10px 0 25px 0;
    }
    .lil {
      display: flex;
      height: 50px;
      margin-bottom: 25px;
      .log {
        border-radius: 4px;
        margin-right: 12px;
      }
      img {
        width: 60px;
        height: 60px;
        border-radius: 4px;
      }
    }
    .locCn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        color: #334680;
        font-size: 16px;
      }
      span {
        font-size: 16px;
        color: #b7bcce;
      }
    }
    .description {
      font-size: 16px;
      color: #334680;
      p {
        margin: 20px 0;
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 840px) {
  .detail {
    flex-direction: column;
    .right {
      margin: 20px 0;
    }
  }
}
