.main {
  display: flex;
  flex-direction: column;
  flex: 12;
  .jobList {
    display: flex;
    flex: auto;
  }
  @media screen and (max-width: 840px) {
    .jobList {
      flex-direction: column;
    }
  }
}
