@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.searchByLocation {
  flex: 30%;
  height: auto;
  .fulltime {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      margin: 10px;
      width: 18px;
      height: 18px;
    }
    label {
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      color: #334680;
    }
  }
  .location {
    h2 {
      color: #b9bdcf;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      margin: 14px 0;
    }
    input[type="text"] {
      width: 100%;
      height: 40px;
      border: 0;
      margin-bottom: 16px;
      border-radius: 4px;
      padding-left: 14px;
      outline: none;
    }
    form {
      input[type="radio"] {
        width: 18px;
        height: 18px;
        margin: 10px;
      }
      label {
        position: relative;
        top: -3px;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        color: #334680;
      }
    }
  }
}
