.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 70%;
  height: auto;
  margin-left: 20px;
  .job {
    display: flex;
    width: 100%;
    height: 115px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 12px;
    .CompLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border-radius: 4px;
      background-color: #f2f2f2;
      img {
        width: 80px;
        height: 80px;
        border-radius: 4px;
      }
      b {
        color: #bdbdbd;
        font-size: 12px;
      }
    }
    .jobInfo {
      display: flex;
      flex: auto;
    }
    .moreInfo {
      display: flex;
      align-items: flex-end;
      flex: 2;
      .dateInfo,
      .locationInfo {
        flex: auto;
        font-size: 11px;
        text-align: right;
        color: #b9bdcf;
        height: 30px;
        padding: 5px;
      }
      .dateInfo {
        text-align: center;
      }
    }
    .preview {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 3;
      h3 {
        font-size: 15px;
      }
      h2 {
        a {
          font-size: 17px;
          color: #334680;
          transition: all 0.4s;
          &:hover {
            color: #526fc5;
          }
        }
      }
      h4 {
        font-size: 12px;
        border: 1px solid;
        border-radius: 4px;
        padding: 2px 4px;
        width: 70px;
        text-align: center;
      }
      h2,
      h3,
      h4 {
        margin: 3px 0 3px 15px;
        color: #334680;
      }
    }
  }
  .list {
    position: relative;
    animation: listAnim 0.35s linear;
    animation-fill-mode: both;
  }
  @for $i from 1 through 5 {
    .list:nth-child(#{$i}) {
      animation-delay: 0.15s * $i;
    }
  }
  .fakeJ {
    .CompLogo {
      animation: jbsA 1.5s infinite;
    }
    .fakeInfo {
      display: inline-block;
      width: 80px;
      height: 10px;
      border-radius: 4px;
      background-color: #f2f2f2;
      animation: jbsA 1.5s infinite;
    }
    .jobInfoFake {
      .compName,
      .titl,
      .full {
        display: inline-block;
        border-radius: 4px;
        background-color: #f2f2f2;
        color: #ffffff00;
        animation: jbsA 1.5s infinite;
      }
      .compName {
        width: 150px;
        height: 10px;
      }
      .titl {
        width: 200px;
        height: 10px;
      }
      .full {
        width: 70px;
        height: 15px;
        border: 0;
      }
    }
  }
  .PaginationContainer {
    width: 100%;
    margin-bottom: 14px;
    .rc-pagination {
      display: flex;
      justify-content: flex-end;
    }
    .rc-pagination-item-active {
      a {
        color: #ffffff;
        background-color: #1e86ff;
      }
    }
    .rc-pagination-prev .rc-pagination-item-link,
    .rc-pagination-next .rc-pagination-item-link {
      color: #ffffff;
      background-color: #1e86ff;
    }
  }
  .empty {
    position: relative;
    width: 300px;
    margin-bottom: 30px;
    align-self: center;
    transform: translateY(30px);
  }
  .noResult {
    position: relative;
    color: #aaadb9;
    transform: translateY(30px);
    margin-bottom: 50px;
  }

  @media screen and (max-width: 840px) {
    margin: 20px 0;
    .job {
      height: 170px;
      .jobInfo {
        flex-direction: column;
      }
      .moreInfo {
        .locationInfo {
          text-align: left;
          padding-left: 16px;
        }
        .dateInfo {
          text-align: left;
        }
      }
      .preview {
        h3 {
          font-size: 13px;
        }
        h2 {
          font-size: 15px;
        }
        h4 {
          font-size: 10px;
        }
      }
    }
  }
}

@keyframes jbsA {
  0% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: #d3d3d3;
  }
  100% {
    background-color: #f2f2f2;
  }
}

@keyframes listAnim {
  0% {
    opacity: 0;
    top: 20px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
