@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.header {
  display: flex;
  align-items: center;
  flex: 1;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  position: relative;
  h1 {
    padding: 10px 0;
    font-weight: 300;
    font-size: 24px;
  }
  a {
    position: absolute;
    right: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    transition: all 0.4s linear;
    &:hover {
      opacity: 1;
    }
  }
  b {
    font-weight: 700;
  }
  @media screen and (max-width: 375px) {
    h1 {
      font-size: 18px;
    }
  }
}
