.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 15px 0;
  .author {
    font-size: 14px;
    color: #6c6e75;
    a {
      color: #6c6e75;
      &:hover {
        color: #45464b;
      }
    }
  }
}
