.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  background-image: url("../../img/backgroundImg.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-bottom: 30px;
  form {
    width: 80%;
  }
  .searchBar {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    button {
      border: 0;
      margin: 2px;
      background-color: #1e86ff;
      border-radius: 4px;
      width: 18%;
      cursor: pointer;
      min-width: 50px;
      font-size: 16px;
      color: #ffffff;
      outline: none;
      transition: all 0.4s;
      &:hover {
        background-color: #1969c5;
      }
    }
    input {
      flex: auto;
      font-size: 10px;
      border: 0;
      padding-left: 15px;
      outline: none;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 375px) {
  .search {
    .searchBar {
      height: 40px;
      button {
        font-size: 12px;
      }
      input {
        font-size: 9px;
      }
    }
  }
}
