@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}
#root,
.app,
.container {
  display: flex;
  justify-content: center;
  background-color: #eff1ff;
  width: 100%;
  min-height: 100vh;
}
.app {
  max-width: 1440px;
  .container {
    flex-direction: column;
    width: 95%;
  }
}
